@font-face {
    font-family: 'norsebold';
    src: url('./resources/norse-bold-webfont.woff2') format('woff2'),
         url('./resources/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f9fafb;
    display: flex;
    height: 900px;
}

.bg-img-container {
    background-image: url(./resources/background.png);
    background-size: cover;
    background-repeat: no-repeat;

}



